<!doctype html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="css/main.css">
		<meta name="google-site-verification" content="8LedcxouiPhsU_B751i3_pnQVsmJXUCoYHnqJnNkQ78" />
	</head>
		<body>
			<div class="container">
				<div class="blurb">
					<h1>Sophie Jean Walton</h1>
				</div>
			</div>
			<div class="container">
				{{ content }}
				<br>
				<br>
				<p><a class="footer" href="https://github.com/sophiejwalton/sophiejwalton.github.io" target="_blank">last updated: October 2023</a></p>
				<br>
			</div>
		</body>
	</html>
